body {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    height: 100vh;
}

ul{
    text-decoration: none;
    list-style: none;
}

.container{
    width: 80%;
    height: 90%;
    margin: auto;
    background-color: rgb(43, 226, 150);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.ahmad{
    grid-area: 2 / 4 / 4 / 7;
}

.dennis{
    grid-area: 4 / 4 / 6 / 7;
}

.jay{
    grid-area: 6 / 4 / 8 / 7;
}
/*.box, .box2, .box3 {
    width: 40%;

}*/

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}