body {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    height: 90vh;
}

li{
    list-style: none;
}

.container{
    width: 80%;
    height: 90%;
    border-radius: 1rem;
    margin: auto;
    background-color: rgb(43, 226, 150);
}

.charts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(3, 2fr) 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: 100%;
}

/*ahamd*/
.box1 { grid-area: 2 / 4 / 4 / 5; }
.box2 { grid-area: 2 / 5 / 4 / 6; }
.box3 { grid-area: 2 / 6 / 4 / 7; }

/*dennis*/
.box4 { grid-area: 4 / 6 / 6 / 7; }
.box5 { grid-area: 4 / 5 / 6 / 6; }
.box6 { grid-area: 4 / 4 / 6 / 5; }

/*jay*/
.box7 { grid-area: 6 / 4 / 8 / 5; }
.box8 { grid-area: 6 / 5 / 8 / 6; }
.box9 { grid-area: 6 / 6 / 8 / 7; }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.box{
    background-color: black;
}

.box1{
    background-color: red;
}